.faq-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  text-align: center;
  width: 80%;
  color: #ffffff;
}

.faq-head {
  font-size: 2em;
  color: #fd9727;
}
