.signup-background {
  background-color: #fbfbfb;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.signup-background p {
  text-align: center;
}

.signup-header {
  margin-top: 60px;
  font-weight: 600;
}

.signup-form {
  max-width: 80vw;
  padding-left: 50px;
  padding-right: 50px;
}

.signup-form > a {
  float: right;
}

.signup-form .row .col.s6 {
     padding-left: 0px;
     padding-right: 0px;
}

/*.next-section i.material-icons:hover {*/
/*  color: #fbcd9b;*/
/*}*/

/*.next-section {*/
/*  padding-top: 10px;*/
/*  padding-left: 50px;*/
/*}*/

.error {
  padding-left: 10px;
  color: #e74c3c;
}

.signup-form .row .col.s6 {
  padding-left: 0px;
  padding-right: 0px;
}
