  .nav {
    height: 18vh;
  }

  h2 {
    display: inline-block;
    font-size: 1.8rem;
    color: #fd9727;
    line-height: 18vh;
    margin: 0;
    vertical-align: middle;
    float: left;
    padding-left: 50px;
  }

  i.material-icons {
    display: inline-block;
    font-size: 1.8rem;
    color: #fd9727;
    line-height: 18vh;
    vertical-align: middle;
    float: right;
    padding-right: 50px;
  }
