  .nav {
    height: 18vh;
  }

  .nav p {
    padding-left: 15px;
    display: inline;
    color: #ffffff;
  }
  h2 {
    display: inline-block;
    font-size: 1.8rem;
    color: #fd9727;
    line-height: 18vh;
    margin: 0;
    vertical-align: middle;
    padding-left: 50px;
  }

  h2:hover {
    color: #fbcd9b;
  }

  i.material-icons {
    display: inline-block;
    font-size: 1.8rem;
    color: #fd9727;
    line-height: 18vh;
    vertical-align: middle;
    float: right;
    padding-right: 50px;
  }

  i.material-icons:hover {
    color: #fbcd9b;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0!important;
    left: 0;
    right: 0;
    background-color: #161616;
    padding: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

  .modal-footer {
    display: none;
  }

  div.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: #161616;
  }

  div.modal-content div.close {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
  }

  div.modal-content div.close i:hover {
    color: #fbcd9b;
  }

  div.modal-content p {
    color: #ffffff;
    font-size: 1.8rem;
    margin: 0;
  }

  div.modal-content p:hover {
    color: #fbcd9b;
  }

  .modal .modal-footer {
    background-color: #161616;
  }

  .modal .modal-footer .btn {
    color: #fd9727;
  }

  .z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

.faq-link {
  font-size: 1.8rem;
  color: #ffffff;
}

.faq-link:hover {
  color: #fbcd9b;
}

.settings-link {
  font-size: 1.8rem;
  color: #ffffff;
}

.settings-link:hover {
  color: #fbcd9b;
}
