.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0;
  min-height: 1px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.grillber-hero-background {
  background: /* top, transparent black, faked with gradient */
  linear-gradient( rgba(22, 22, 22, 0.92), rgba(22, 22, 22, 0.92)), /* bottom, image */
  url("../../../public/grillber-bg-img.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grillber-hero-background h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fd9727;
  line-height: 18vh;
  margin: 0;
  padding-left: 125px;
}

.tagline {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  width: 500px;
  padding-top: 50px;
  padding-left: 125px;
}

.button-div {
  padding-left: 125px;
}

.btn:hover, .btn-large:hover {
  background-color: #fbcd9b;
}

.btn {
  background-color: #f4efee;
  color: #000000;
}

.learn-more-contents {
  display: flex;
  flex-direction: column;
}

.learn-more-contents h2 {
  color: #ffffff;
  font-size: 4em;
  font-weight: 700;
  padding: 0;
}

.learn-more-contents p {
   color: #fbcd9b;
}

.card-panel {
  font-size: 10pt;
  transition: box-shadow .25s;
  padding: 24px;
  margin: .5rem;
  border-radius: 9px;
  background-color: #fff !important;
  margin-right: 12px;
  height: 335px;
  width: 300px;
}

.cardTitle {
  color: black !important;
  font-size: 1.6em !important;
  font-weight: 700;
}

.picCircle {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.learnPic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#throwing-bbq {
  color: #fbcd9b;
}

.panels {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-content: space-between;
  margin-top: 15px;
}
